*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: hsla(258, 55%, 86%, 0.2);
  font-family: sans-serif;
}

@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes blinking {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #9778d7;
  }
}

h1 {
  --typing-steps: 14;
  margin: 3rem auto;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 3px;
  border-right: 3px solid #9778d7;
  animation: typing 2s steps(var(--typing-steps)),
    blinking 0.7s steps(1) infinite;
}
